<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Counter</h1>
      </ion-header-bar>
      <ion-content>
        
                 
      
        <div class="card">
            <div class="item item-text-wrap">
                
                <h1 ng-bind="count" ng-init="count = 50;" style=" text-align: center">
                    <!-- {{count}} -->
                </h1>     
                
                <div class="button-bar">
                    <button ng-click="count = count + 1;" class="button button-royal icon-left ion-plus-circled button-calm">
                        Add one
                    </button>
          
                    <button ng-click="count=0;" class="button button-dark icon-left ion-chevron-left">
                        Reset
                    </button>
                </div>
                
                <div class="item range">
                    <!-- Use ng-model as ng-bind is used to replace text, ng-model is used for toggle, range..etc-->
                    <!-- -->
                    <input type="range" ng-model="count">
                </div>
                
            </div>
        </div>
          
         
        </ion-content>
    </ion-pane>
  </body>
</html>
